@import "./utils/variables.scss";
@import "./utils/buttons.scss";


/* general settings */

:root {
  font-size: calc(0.5em + 1vw);
  box-sizing: border-box;
}
*, ::before, ::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

body::-webkit-scrollbar {
  width: 1em;
}
body::-webkit-scrollbar-track {
  background-color: transparent;
}
body::-webkit-scrollbar-thumb {
  background-color: $red-light;
  border: 0.1em solid $red-dark;
  border-radius: .3em;
}

#root {
  min-height: 100vh;
  display: flex;
  user-select: none;
  margin: 0;
  overflow: overlay;
  font-family: "Comic Sans MS", "Monotype Corsiva", cursive;
  background-color: $main-bg;
}

.content {
  width: 85%;
  padding: 2em;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}

p {
  padding: 0 1rem;
  text-align: justify;
  line-height: 2em;
}

fieldset {
  padding: 1em;
  margin: 1.5em auto;
  border-radius: 10px;
  border-width: medium;
}

img {
  vertical-align: text-bottom;
}


@media (max-width: $screen-breakpoint-1) {
  body {
    font-family: serif;
    font-size: calc(1.5em + 1vw);
    scrollbar-width: none;  /* Firefox */
  }
  body::-webkit-scrollbar,
  .sidenav::-webkit-scrollbar {
    width: 0.3em;
  }
  #root {
    width: 100%;
    margin: 0 auto;
    padding: 1.5em 0.4rem;
  }
  fieldset {
    padding: 1em 0;
  }
}

/* end of general settings */
  
  
/* utility classes */

.center {
  text-align: center;
  align-items: center;
}
.left {
  text-align: left;
}
.right {
  justify-items: right;
}
.vertical-center {
  vertical-align: middle;
}
.special {
  color: $red-light;
}

.body-hidden-overflow {
  overflow: hidden;
}


/* end of utility classes */