@import "./utils/variables.scss";


/* button-ladder module */

.button-ladder {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1em;
  }
  .button-ladder button {
    font: inherit;
    width: 10em;
    margin-top: 1em;
    padding: .3em;
    border-radius: 0.5em;
    color: $yellow;
    background-color: $red-light;
    background-image: url("../media/pics/unlocked.png");
    background-position: 5%, 45%;
    background-repeat: no-repeat;
  }
  .button-ladder button:disabled {
    background-image: url("../media/pics/locked.png");
    background-position: 5%, 50%;
    background-color: transparentize($red, 0.3);
  }
  .button-ladder.no-touch button:not(:disabled):hover,
  .button-ladder.no-touch button:focus {
    background-color: $red;
  }
  .button-ladder button:not(:disabled):active {
    background-color: $red-dark;
  }

  /* end of button-ladder module */
  
  
  
  /* test-interface module */

  .test-interface > * {
    margin-bottom: 0.5em;
  }
  .test-interface > h2 {
    margin: .3em 0;
  }
  .test-navigation {
    margin: 2em 0;
    text-align: center;
  }
  .test-navigation > button {
    width: 4em;
  }
  .test-navigation > * + * {
    margin-left: 1em;
  }

  /* end of test-interface module */